
{erl_opts, [debug_info, fail_on_warning]}.
%{require_otp_vsn, "17"}.

{sub_dirs, ["rel"]}.

{plugins, [erlson_rebar_plugin]}.

%
{deps, [
    {mochiweb, "", {git, "https://github.com/mochi/mochiweb.git", {branch, "master"}}},
    {erlson  , "", {git, "https://github.com/alavrik/erlson.git", {branch, "master"}}},
    {ibrowse , "", {git, "https://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
    {cowboy  , "", {git, "https://github.com/extend/cowboy.git" , {branch, "master"}}}
]}.
